header{
	padding:10px 0;
	position: relative;
	ul{
		padding-left:0;
		float: right;
		li{
			display: inline-block;
			padding: 0 20px;
			margin-top: 20px;
			text-align: center;
			a{
				color: $principal;
				text-transform: uppercase;
				font:{
					family:$fonte;
					size:16px;
					weight:500;
				}
			}
		}
	}
	#menu-desktop{
		display: block;
		@media(max-width: $big_phone){
			display: none;
		}
	}
	#menu-mobile{
		display: none;
		@media(max-width: $big_phone){
			display: block;
		}
	}
	#btn-mobile{
		display: none;
		position: absolute;
		width: 50px;
		height: 50px;
		top: 10px;
	    right: 15px;
	    padding: 3px;
		span{
			width: 100%;
			height: 2px;
			background: $principal;
		    margin: 10px 0;
    		display: block;
    		transition: all ease .2s;
		}
		@media(max-width: $big_phone){
			display: block;
		}
	}
	@media(max-width: $big_phone){
		border-bottom: 2px solid $principal;
	}
}
#menu-lateral{
	display: none;
	width: 60vw;
	height: calc(100vh - 85px);
	background: white;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
	position: fixed;
	top: 85px;
	z-index: 10;
	transform: translateX(-70vw);
	transition: all ease .2s;
	&.active{
		transform: translateX(0vw);
	}
	ul{
		padding: 0;
		a{
			color: $secundaria;
		}
		li{
			list-style: none;
			padding: 10px;
			text-transform: uppercase;
			border-bottom: 1px solid $principal;
		}
	}
	@media(max-width: $big_phone){
		display: block;
	}
}
#menu-gaveta{
	display: none;
    width: 100vw;
    height: 0;
    background: #fff;
    position: absolute;
    z-index: 10;
    transition: all ease .3s;
    transform-origin: top;
	&.active{
	    height: 165px;
	    li{
    	    opacity: 1;
		    visibility: visible;
		    transition-delay: 0s;
		    transition-duration: 0.95s;
	    }
	}
	ul{
		margin: 0;
		padding: 0;
		a{
			color: $secundaria;
		}
		li{
			list-style: none;
			padding: 10px;
			text-transform: uppercase;
			border-bottom: 1px solid $principal;
		    opacity: 0;
		    visibility: hidden;
		    transition: all ease .0s;
		    transition-delay: 0.05s;
		}
	}
	@media(max-width: $big_phone){
		display: block;
	}
}