section{
	article{
		&#banner{
			max-height: 450px;
		    position: relative;
    		overflow: hidden;
    		.slick-slide{
    			height: auto;
    		}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&#sobre{
			padding:50px 0;
			h1{
				color: $principal;
				text-transform: uppercase;
				margin:30px 0;
			}
			h2{
				text-transform: uppercase;
			}
			img{
				display: block;
				margin:auto;
				max-width: 100%;
			}
			a{

			}
		}
		&#noticias{
			padding:50px 0;
			.box{
				color: #2b2b2b;
				box-shadow:0px 0px 5px rgba(0,0,0,0.5);
				display: block;
				figure{
					img{
						max-width: 100%;
					}
				}
				.box-info{
					padding:10px;
				}
			}
		}
		&#contato{
			padding:50px 0;
			background-image: url(image/bg-contato.png);
			background-size:cover;
			h2{
				color: #fff;
				text-transform: uppercase;
			}
			form{
				margin:50px 0;
				input[type="text"],input[type="email"],textarea{
					border-radius:0;
					margin-bottom:10px;
					background-color:transparent;
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: #fff;
					}
					&::-moz-placeholder { /* Firefox 19+ */
					  color: #fff;
					}
					&:-ms-input-placeholder { /* IE 10+ */
					  color: #fff;
					}
					&:-moz-placeholder { /* Firefox 18- */
					  color: #fff;
					}
				}
				color: #fff;
			}
		}
	}
}
#mapa{
	height: 400px;
}